---
import Paragraph from "@/common/Paragraph";
import Title from "@/common/Title.astro";
---

<main class="flex items-center w-full flex-col gap-16">
  <Title>Sobre mi</Title>
  <Paragraph>
    Nací en Colombia y tengo una titulación en Ingeniería de Sistemas,
    complementada con un postgrado en Power BI y Análisis de Información.
    Actualmente trabajo en Afordin, y en mi tiempo libre me dedico a responder
    las dudas de Comuafor y poner enlaces a recursos guapos (como yo ).
  </Paragraph>
</main>
