<ul
  class="flex items-center justify-center gap-14 text-2xl font-medium bg-[#0F1115A3] border-t-2 border-[#4E586C] rounded-full py-8 px-36"
>
  <li>
    <a href="/">Inicio</a>
  </li>
  <li>
    <a href="#about">Sobre mi</a>
  </li>
  <li>
    <a href="#projects">Proyectos</a>
  </li>
</ul>
