---
import MobileMenu from "@/components/MobileMenu";
---

<ul
  class="hidden lg:flex items-center justify-center gap-20 font-medium bg-[#0F1115A3] border-t-2 border-[#4E586C] rounded-full text-xl py-5 px-24"
>
  <li>
    <a href="#top">Inicio</a>
  </li>
  <li>
    <a href="#about">Sobre mi</a>
  </li>
  <li>
    <a href="#projects">Proyectos</a>
  </li>
</ul>
