---
import MobileMenu from "@/components/MobileMenu";
import GithubIcon from "@/assets/icons/GithubIcon";
import Logo from "../common/Logo.astro";
import Menu from "./Menu.astro";
---

<nav class="flex items-center justify-between text-[#E6E6E6]">
  <Logo />
  <Menu />
  <MobileMenu className="lg:hidden" client:load />
  <a
    href="https://github.com/JeremyDevCode/template"
    target="_blank"
    rel="noreferrer noopener"
  >
    <GithubIcon fill="#E6E6E6" className="hidden lg:block w-10 h-10" />
  </a>
  <!-- <ThemeToggle active={theme} handleClick={toggleTheme} disabled={false} /> -->
</nav>
