---
import GithubIcon from "@/assets/icons/GithubIcon";
import Logo from "../common/Logo.astro";
import Menu from "./Menu.astro";
---

<nav class="flex items-center justify-between text-[#E6E6E6]">
  <Logo />
  <Menu />
  <GithubIcon fill="#E6E6E6" />
  <!-- <ThemeToggle active={theme} handleClick={toggleTheme} disabled={false} /> -->
</nav>
