---
// Global Styles:
import "@/styles/globals.css";
import "@fontsource-variable/lexend";

// Layout:
import Header from "@/components/Header";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

// Page Props:
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Soy un Ingeniero de Sistemas especializado en diseño de bases de datos y programación SQL"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-[90rem] m-auto overflow-hidden font-sans">
      <main class="flex w-full flex-col items-center gap-52 relative mb-16">
        <div class="w-4/5 flex flex-col gap-16 sm:gap-32 pt-8 sm:pt-20">
          <Navbar theme={false} toggleTheme={false} />
          <Header />
        </div>
        <img
          class="-z-10 -mt-20 sm:w-4/5 text lg:w-1/2 floating"
          src="/images/phone.png"
          alt=""
        />
        <div
          class="absolute -top-32 sm:-top-16 md:top-[24rem] -z-20 h-[100rem] aspect-square"
        >
          <img src="/images/grid.png" alt="" />
        </div>
      </main>
      <slot />
      <Footer />
    </div>
  </body>
</html>
